*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root{
  background-color: #F5F7FB;
  width: 100vw;
  position: relative;
}
main{
  width: 70vw;
  margin-inline: auto;
  padding-block: 20px;
}
.intro{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
svg:first-of-type{
  position: absolute;
  top: 0;
  right: 0;
}
svg:last-of-type{
  position: absolute;
  bottom: 0;
  left: 0;
}

.intro >h1{
  font-family: "Karla";
  font-weight: 700;
  font-size: 1.95rem;
  text-align: center;
  color: #293264;
  margin-bottom: 7px ;
}
.intro >p{
  font-family: "Inter";
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  color: #293264;
  margin-bottom: 29px ;
}
.intro >button{
  width: 193px;
  height: 52px;
  border: none;
  border-radius: 15px;
  text-align: center;
  background-color: #4D5B9E;
  color: white;
  font-family: "Inter";
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
}

.create-quizz{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.create-quizz h1{
  text-align: center;
  color: #4D5B9E;
}
.categories{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 10px;
  padding-block: 20px;
  border-bottom: 0.79px solid #DBDEF0;
}
.create-quizz button{
  border-radius: 7.94px;
  border: 0.77px solid #4D5B9E;
  font-family: "Inter";
  font-weight: 500;
  font-size: 0.8rem;
  color: #293264;
  padding: 5px;
  background-color: #F5F7FB;
  margin-top: 5px;
}
.create-quizz .btn{
  margin-top :20px;
}
.categories button.chosen{
  background-color: #D6DBF5;
  border: none;
}

.amount{
  display: flex;
  gap: 20px;
  padding-block: 20px;
  border-bottom: 0.79px solid #DBDEF0;
}
.amount button{
  width: 100px;
}
.amount button.chosen{
  background-color: #D6DBF5;
  border: none;
}
.difficulty{
  display: flex;
  gap: 20px;
  padding-block: 20px;
  border-bottom: 0.79px solid #DBDEF0;
}
.difficulty button.chosen{
  background-color: #D6DBF5;
  border: none;
}
.question-type{
  display: flex;
  gap: 20px;
  padding-block: 20px;
  border-bottom: 0.79px solid #DBDEF0;
}
.question-type button.chosen{
  background-color: #D6DBF5;
  border: none;
}

.create-quizz .btn{
  width: 120px;
  height: 35px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: #4D5B9E;
  color: #F5F7FB;
  font-family: "Inter";
  font-weight: 600;
  font-size: 0.7rem;
  text-align: center;
}

.quizz{
  min-height: 100vh;
}
.quizz h1{
  text-align: center;
  font-family: "Inter";
  font-weight: 700;
  font-size: 2.5em;
  color: #293264;
}
.question{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 14px;
  gap: 14px;
  border-bottom: 0.79px solid #DBDEF0;
}
.question>h1{
  text-align: start;
  font-family: "Karla";
  font-weight: 700;
  font-size: 1.1rem;
  color: #293264;
  margin-top: 5px;
}
.answers{
  display: flex;
  gap: 13px;
}
.answers>button{
  border-radius: 7.94px;
  border: 0.77px solid #4D5B9E;
  font-family: "Inter";
  font-weight: 500;
  font-size: 0.8rem;
  color: #293264;
  padding: 5px;
  background-color: #F5F7FB;
}

.answers>button.answer{
  background-color: #D6DBF5;
  border: none;
}
.answers>button.right-answer{
  background-color: #94D7A2;
  border: none;
}
.answers>button.wrong-answer{
  background-color:#F8BCBC;
  border: none;
  opacity: 0.5;
}

.footer{
  text-align: center;
}
.footer .btn{
  width: 120px;
  height: 35px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: #4D5B9E;
  color: #F5F7FB;
  font-family: "Inter";
  font-weight: 600;
  font-size: 0.7rem;
  text-align: center;
  margin-top: 20px;
}
.footer span{
  font-family: "Inter";
  font-weight: 700;
  font-size: 0.8rem;
  text-align: center;
  margin-right: 8px;
  color: #293264;
}




